<header>
<h1 class="page-title">About Me</h1>
</header>
<div class="entry-content typo">
  <p>
  DestinyD，简称DD，80后，双子座，任何东西上手都快，乐于专研喜欢的事物。
  </p>
  <p>
  出生在广西龙城，北上天津求学，毕业后曾在天津、杭州混悠过，最后回到家乡。从事过Ruby on Rails、JS、PHP、C#等开发，最后发现自己已经不能离开Ruby on Rails，现在家SOHO。
  </p>
  <p>
  接触Ruby on Rails开发已有四年，从Rails1、2交接之时开始接触到现在，不能说有大师级的技巧，但也算略有领悟。
  </p>
  <p>
  希望能广交天下好友，在互联网中开拓一番事业。
  </p>
</div>
