<h1 class="entry-title">
  <%= link_to @post.title,blog_url(year:@post.created_at.year,month:@post.created_at.month,day:@post.created_at.day,id:@post.permalink,subdomain: false) %>
</h1>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<div class="entry-content typo">
  <%= raw @post.body %>
</div>

