<!-- Duoshuo Comment BEGIN -->
<div class="ds-thread" data-thread-key="<%= post.permalink %>" data-title="<%= post.title %>" data-category="<%= post.tags %>" data-author-key="destinyd"></div>
<script type="text/javascript">
  var duoshuoQuery = {short_name:"destinyd"};
  (function() {
      var ds = document.createElement('script');
      ds.type = 'text/javascript';ds.async = true;
      ds.src = 'http://static.duoshuo.com/embed.js';
      ds.charset = 'UTF-8';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
</script>
<!-- Duoshuo Comment END -->
