<article role="article">
<header>
  <%= render "head_with_share",post:@post %>
</header>
<div class="entry-content typo">
  <%= raw @post.body %>
</div>
<footer>
  <p class="meta neighbor clearfix">
    <a href="/2012/08/01/installing-postgresql-failed-via-homebrew-on-mountain-lion/" class="float-l" title="Previous Post: Installing Postgresql Failed Via Homebrew on Mountain Lion">« Installing Postgresql Failed Via Homebrew on Mountain Lion</a>
  </p>
</footer>
</article>
